@page "/config"

@using CsvProc9000.UI.Wpf.Components
@using CsvProc9000.Model.Configuration
@using CsvProc9000.UI.Wpf.States

@inject IConfigurationState State
@inject NavigationManager NavigationManager

<!-- TODO: GO BACK TO HOME link! -->

<h1>Configure</h1>

<button class="btn btn-secondary btn-home oi oi-home" @onclick="GoToHome"></button>

<p>
    Here you can configure your <b>CsvProc9000</b> service to your needs.
</p>

<div class="load">
    <div>
        <div>
            In which <i>directory</i> is the service currently installed?
        </div>
        <div>
            <FolderSelect DialogueTitle="Select the service installation location" @bind-SelectedPath="@State.SettingsDirectory"></FolderSelect>
        </div>
    </div>

    <div class="mt-1">
        <button class="btn btn-primary" disabled="@IsLoadButtonDisabled" @onclick="LoadSettings">Load settings</button>
    </div>
</div>

@{
    if (State.Settings != null)
    {
        <div class="settings mt-4">
            <h2>Settings</h2>
            <p>
                Change the settings of your current service installation here:
            </p>

            <div class="mt-2">
                <h3>Inbox</h3>

                <div class="row">
                    <div>
                        Inbox directory:
                    </div>
                    <div>
                        <FolderSelect DialogueTitle="Select the Inbox" @bind-SelectedPath="@State.Settings.Inbox"></FolderSelect>
                    </div>
                </div>

                <div class="row">
                    <div>
                        Inbox delimiter:
                    </div>
                    <div>
                        <InputText type="text" @bind-Value="@State.Settings.InboxDelimiter"></InputText>
                    </div>
                </div>

                <div class="row">
                    <div>
                        Should the file in the Inbox be deleted?
                        <InputCheckbox @bind-Value="@State.Settings.DeleteInboxFile"></InputCheckbox>
                    </div>
                </div>
            </div>

            <div class="mt-2">
                <h3>Outbox</h3>

                <div class="row">
                    <div>
                        Outbox directory:
                    </div>
                    <div>
                        <FolderSelect DialogueTitle="Select the Outbox" @bind-SelectedPath="@State.Settings.Outbox"></FolderSelect>
                    </div>
                </div>

                <div class="row">
                    <div>
                        Outbox delimiter:
                    </div>
                    <div>
                        <InputText type="text" @bind-Value="@State.Settings.OutboxDelimiter"></InputText>
                    </div>
                </div>

                <div class="row">
                    <div>
                        Outbox charset:
                    </div>
                    <div>
                        <InputText type="text" @bind-Value="@State.Settings.OutboxFileCharset"></InputText>
                    </div>
                </div>

                <div class="row">
                    <div>
                        Should the values in the Outbox-file be in quotes?
                        <InputCheckbox @bind-Value="@State.Settings.OutboxValuesInQuotes"></InputCheckbox>
                    </div>
                </div>
            </div>
            
            <div class="mt-2">
                <h3>Rules</h3>
                
                @for (var index = 0; index < State.Settings.Rules.Count; index++)
                {
                    <div class="row mt-1">
                        @{
                            var ruleIndex = index;
                            var rule = State.GetRuleAt(ruleIndex);
                        }
                        
                        <div>
                            <button class="btn btn-secondary" @onclick="() => NavigateToEditRule(ruleIndex)">@rule.GetName()</button>
                            <button class="btn btn-danger oi oi-minus float-end" @onclick="() => RemoveRule(rule)"></button>
                        </div>
                    </div>
                }
                
                <div class="mt-2">
                    <button class="btn btn-success float-start oi oi-plus" @onclick="AddRule"></button>
                </div>
            </div>
        </div>
        
        <div class="mt-5 mb-5 float-end">
            Should the current settings be backed up?
            <InputCheckbox @bind-Value="@_makeBackup"></InputCheckbox>
            <button class="btn btn-primary" @onclick="SaveSettings">Save</button>
        </div>
    }
}

@code {
    private bool IsLoadButtonDisabled => string.IsNullOrWhiteSpace(State.SettingsDirectory);
    private bool _makeBackup = true;
    
    private void GoToHome()
    {
        NavigationManager.NavigateTo("/");
    }

    private void LoadSettings()
    {
        State.ReadSettings();
    }

    private void NavigateToEditRule(int ruleIndex)
    {
        NavigationManager.NavigateTo($"/rule/{ruleIndex}");
    }

    private void RemoveRule(Rule rule)
    {
        State.Settings.Rules.Remove(rule);
    }

    private void AddRule()
    {
        var newRule = new Rule
        {
            Name = "New Rule",
        };
        
        State.Settings.Rules.Add(newRule);
        
        NavigateToEditRule(State.Settings.Rules.Count - 1);
    }

    private void SaveSettings()
    {
        State.WriteSettings(_makeBackup);
        GoToHome();
    }
}